.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

.productBody {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: row;
}

.productSection {
  height: 100%;
}

@media screen and (max-width: 1248px) {
  .productList {
    grid-template-columns: repeat(4, 1fr);
  }

  .productBody {
    flex-direction: column;
  }
}

@media screen and (max-width: 702px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

.filterWrapper {
  position: relative;
}
